<!DOCTYPE html>
<html>
	<head>
	<title>Test page</title>
	<link rel="stylesheet" type="text/css" href="../css/interview-qs.css"/>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	 <script type = "text/javascript" 
         src = "https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/jquery-ui.min.js"></script>
	<script type="text/javascript" src="../js/interview-qs.js"></script>
	</head>
	<body>
		<header class="pg-header">
			<div class="pg-heading">YOURSTORE.COM</div>
		</header>
		<div class="pg-content">
			PAGE CONTENT
		</div>
		<div class="ad-popup" style="display:none;">
			<div class="pd-10">
				<a href="javascript:void(0);" class="close-ad">X</a>
			</div>
			<div class="ad-content">
				<div class="">Are you looking for <b>'White dresses'</b>?</div>
				<div style="width:100%;">
					<div class="fl-left ad-img">
						<div class="img-parent">
							<img src="../images/r2.jpg" class="img"/>
						</div>
						<div class="img-txt txt-center">
							<div>Cotton white dresses</div>
							<a href="javascript:void(0);">see more</a>
						</div>
					</div>
					<div class="fl-right ad-img"> 
						<div class="img-parent">
							<img src="../images/r3.jpg" class="img"/>
						</div>
						<div class="img-txt txt-center">
							<div>Cotton dresses</div>
							<a href="javascript:void(0);">see more</a>
						</div>
					</div>
					<div class="cboth"></div>
				</div>	
			</div>
		</div>
		<footer class="pg-footer"></footer>
	</body>
</html>